---
---

@import "{{ site.theme }}";

body {
	font-family: "Courier Prime", monospace;
}

p {
	// text-align: justify;
}

.story-content hr {
	border: none;
}

.story-content hr:before {
	content: "***";
	display: block;
	text-align: center;
	margin-top:    3em;
	margin-bottom: 3em;
	color: black;
}

.story-header {
	// font-family: Times New Roman, Times, Baskerville, Georgia, serif;
	font-size: 1.5em;
	text-align: center;
	margin-top : 2em;
	margin-bottom: 3em;
}

.story-content p {
	// font-family: Times New Roman, Times, Baskerville, Georgia, serif;
	font-size: 1em;
	text-indent: 2em;
	margin-bottom: 0em;
	line-height: 2;
}

.by {
	font-size: 0.8em;
}

.footer-heading {
	font-size: 18px;
	margin-bottom: 15px;
	color: black;
}

.footer-col {
	float: left;
	margin-bottom: 15px;
	padding-left: 15px;
}

.footer-col-1 {
	color: #282828;
	width: -webkit-calc(35% - (30px / 2));
	width: calc(50% - (30px / 2));
}

.footer-col-3 {
	width: -webkit-calc(45% - (30px / 2));
	width: calc(50% - (30px / 2));
}

@media screen and (max-width: 800px) {
	.footer-col-1 {
		width: -webkit-calc(50% - (30px / 2));
		width: calc(50% - (30px / 2));
	}
	.footer-col-3 {
		width: -webkit-calc(100% - (30px / 2));
		width: calc(100% - (30px / 2));
	}
}

@media screen and (max-width: 600px) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - (30px / 2));
		width: calc(100% - (30px / 2));
	}
}
